<div class="row">
	<div class="twelve columns">
		Servei creat per<br>
		<a href="http://pirata.cat/"><img src="/images/pirata_cat.png" alt="Pirates de Catalunya (PIRATA.CAT)"></a>
	</div>
</div>
<div class="row">
	<p>Logotip basat en <a href="http://thenounproject.com/noun/check-box/#icon-No3879">Check Box</a> de <a href="http://www.behance.net/katlynwestbrook">Katie M Westbrook</a><br>
	Fotografia de <a href="http://www.flickr.com/photos/jnoval/">Javier Noval</a> sota <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.es">llicència CC BY-NC-SA 2.0</a></p>
</div>
