<div class="row">
	<div class="twelve columns">
		Servicio creado por<br>
		<a href="http://pirata.cat/es/"><img src="/images/pirata_cat.png" alt="Pirates de Catalunya (PIRATA.CAT)"></a>
	</div>
</div>
<div class="row">
	<p>Logotipo basado en <a href="http://thenounproject.com/noun/check-box/#icon-No3879">Check Box</a> de <a href="http://www.behance.net/katlynwestbrook">Katie M Westbrook</a><br>
	Fotografía de <a href="http://www.flickr.com/photos/jnoval/">Javier Noval</a> bajo <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/deed.es">licencia CC BY-NC-SA 2.0</a></p>
</div>
