<div id="partidos" class="row">
	<div class="four columns">
		<a href="https://xifrat.pirata.cat/commons/avals25N"><img src="/images/pirata_cat.png" alt="Pirates de Catalunya (PIRATA.CAT)"></a>
		<p><a href="https://xifrat.pirata.cat/commons/avals25N">Pirates de Catalunya (PIRATA.CAT)</a></p>
	</div>
	<div class="four columns">
		<a href="http://escanos.org/news/recogida-de-avales-para-presentarnos-a-las-catalanas-del-25-n"><img src="/images/eb.png" alt="Escons en Blanc (EB)"></a>
		<p><a href="http://escanos.org/news/recogida-de-avales-para-presentarnos-a-las-catalanas-del-25-n">Escons en Blanc (EB)</a></p>
	</div>
	<div class="four columns">
		<a href="http://preirgirona.blogspot.com.es/2012/10/frau-electoral-el-25n.html"><img src="/images/pre_ir.png" alt="Partit Republicà d'Esquerra - Izquierda Republicana (PRE-IR)"></a>
		<p><a href="http://preirgirona.blogspot.com.es/2012/10/frau-electoral-el-25n.html">Partit Republicà d'Esquerra - Izquierda Republicana (PRE-IR)</a></p>
	</div>
</div>
