---
layout: main
title: Jo Avalo
slogan: Per la pluralitat democràtica al 25N
main_url: joavalo.org
---
<div class="row bar">
	<div class="row">
		{% include lang_ca.html %}
	</div>
	<div id="social" class="row">
		{% include social_ca.html %}
	</div>
</div>
<div id="quick" class="row">
	<div class="twelve columns">
		{% include quick_ca.html %}
	</div>
</div>
<div id="content" class="row">
        <div class="twelve columns">
                {{ content }}
        </div>
</div>
<footer class="row bar">
	<div class="row">
		{% include footer_ca.html %}
	</div>
</footer>
