---
layout: main
title: Yo Avalo
slogan: Por la pluralidad democrática en el 25N
main_url: yoavalo.org
---
<div class="row bar">
	<div class="row">
		{% include lang_es.html %}
	</div>
	<div id="social" class="row">
		{% include social_es.html %}
	</div>
</div>
<div id="quick" class="row">
	<div class="twelve columns">
		{% include quick_es.html %}
	</div>
</div>
<div id="content" class="row">
        <div class="twelve columns">
                {{ content }}
        </div>
</div>
<footer class="row bar">
        <div class="row">
                {% include footer_es.html %}
        </div>
</footer>
